.HeroComponent {
  width: 100%;
}

.HeroComponent__in {
  position: relative;
  width: 100%;
  height: 91vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HeroComponent__in::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/hero/hero.png");
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  transform: scale(1.1);
  opacity: 1;
  z-index: -1;
}

.home__title {
  background-color: rgb(255, 44, 171);
  width: fit-content;
  padding: 0rem 2rem;
  background-image: url("/hero/title.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.home__title p {
  font-size: 1.2rem;
  font-family: 'Lino1', sans-serif;
  font-weight: 600;
  color: white;
}

.home__title span {
  font-size: 1.5rem;
  color: rgb(255, 44, 171);
}

.hero-one {
  width: fit-content;
  padding: 0.5rem 0rem 0rem 0rem;
}

.hero__one h1 {
  font-size: 3.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero__two {
  width: fit-content;
  background-image: url("/hero/college.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 2rem;
}

.hero__two p {
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
}
